/* Estilos para el título */
.Titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  width: 200px;
  background-color: #c5c6c7; /* Color de fondo azul */
  color: white; /* Texto en color blanco */
  font-size: 20px;
  margin: 0 auto; /* Centra horizontalmente el título */
  margin-bottom: 20px;
  padding: 10px;
}

/* Estilos para el contenedor principal */
.main {
  background-image: url('./css/fondo.png');
  background-repeat: no-repeat;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos verticalmente */
  min-height: 100vh; /* Establece una altura mínima del viewport */
}

/* Estilos para la barra de navegación */
.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6fcff; /* Color de fondo azul */
  height: 60px;
}

/* Estilos para los botones */
.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f39c12; /* Color de fondo naranja */
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

/* Estilos para los botones de la barra de navegación */
.nav1 .a {
  text-decoration: none;
  color: white; /* Texto en color blanco */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin: 0 10px;
  transition: background-color 0.5s;
}

/* Estilos para los botones de la barra de navegación al pasar el mouse */
.nav1 .a:hover {
  background-color: #2980b9; /* Color de fondo azul más oscuro */
}
