/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
/*   position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%; 
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
   */
  .container {
    max-width: 1200px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centra el contenido horizontalmente */
  }
  