.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #332d2d80;
  padding: 0 20px;
  border-radius: 1rem;
}

.a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.836);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s;
}

h1 {
  color: #e7973bb0;
  font-size: 25px;
}

.a:hover {
  background-color: #e7973bb0;
}

.Table {
  margin: 20px auto;
  max-width: 800px;
  background-color: #ffffff7c;
  border-radius: 65px;
  border: 4px solid #333;
  overflow-x: auto;
  box-shadow: 2px 5px 30px 15px rgba(0, 0, 0, 0.925);
}

.casilla {
  text-align: center;
  padding: 10px;
  border-bottom: 1.6px solid #070505;
}

.boton {
  background-color: #e7973bb0;
  color: rgb(255, 255, 255);
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px #00000083;
}

.small-header {
  font-size: 18px;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 17px;
  margin-top: 20px;
}

.border-header-derecha {
  font-size: 18px;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 20px;
  margin-top: 20px;
}

.border-header-izquierda {
  font-size: 18px;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 1px;
  margin-top: 20px;
}

.create-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.create-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-form button {
  background-color: #e7973bb0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-form button:hover {
  background-color: #e7973bb0;
}


@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .a {
    font-size: 14px;
  }

  .botones {
    flex-direction: column;
  }

  .boton {
    margin-top: 10px;
  }
  .Table {
    width: 100%;
    border-radius: 0;
    overflow-x: scroll; 
  }
}
